<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Good</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Add New Good</h2>
    <form th:action="@{/good/add}" th:object="${good}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Good Name:</label>
            <input type="text" class="form-control" th:field="*{goodName}" required>
        </div>
        <div class="form-group">
            <label >Good Description:</label>
            <textarea class="form-control"  th:field="*{goodDescription}"  required></textarea>
        </div>
        <div class="form-group">
            <label>Good Brand:</label>
            <input type="text" class="form-control"  th:field="*{goodBrand}"  required>
        </div>
        <div class="form-group">
            <label for="imageFile">Select Images:</label>
            <input type="file" class="form-control-file" id="imageFile" name="imageFile" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
