<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${title}"/>
  <style>
    .tour-card {
      margin-bottom: 20px;
    }
    .tour-image {
      max-height: 200px;
      object-fit: cover;
    }
    .like-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.like-button {
  border: none;
  background: transparent;
  color: #dc3545;
}

.card {
  position: relative;
}

  </style>
  <meta name="csrf-token" th:content="${_csrf.token}"/>
</head>
<body>
  <header th:insert="~{blocks/header::header}"></header>
  <main>
    <div class="container">
      <div class="row">
        <th:block th:each="good : ${goods}">

          <div class="col-md-4" th:if="${goodPrice.get(good.id).get(0)!=null}">
            <div class="card tour-card">
              <img th:src="@{'~/' + ${good.goodPhoto[0]}}" class="card-img-top tour-image" alt="Good Image" />
              <!-- Контейнер для кнопки лайків -->
              <div class="like-button-container">
                <button class="btn btn-outline-danger like-button" th:attr ="onclick=|likeGood(${good.id})|, id=|like-button-${good.id}|">
                  <i class="fa fa-heart" th:attr = "id=|heart-icon-${good.id}|"></i>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title" th:text="${good.goodName}"></h5>
                <p class="card-text">Description: <span th:text="${good.goodDescription}"></span></p>
                <p class="card-text">Brand: <span th:text="${good.goodBrand}"></span></p>
                <p class="card-text">Price: <span th:text="${goodPrice.get(good.id).get(0).getClient_price()}"></span></p>
                <!-- Додаємо відображення кількості лайків -->
                <p class="card-text">Likes: <span th:attr = "id=|likes-count-[${good.id}]|" th:text="${good.goodLikes}"></span></p>
                <a th:href="@{'/good/' + ${good.id}}" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>



        </th:block>
      </div>
    </div>
  </main>
  <footer th:insert="~{blocks/footer::footer}"></footer>

  <script>
    function likeGood(goodId) {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      fetch(`/like/${goodId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-TOKEN': csrfToken
        }
      })
              .then(response => {
                if (response.ok) {
                  return response.json();
                }
                throw new Error('Network response was not ok.');
              })
              .then(data => {
                const likesCountElement = document.getElementById(`likes-count-${goodId}`);
                likesCountElement.textContent = data.likes;

                const likeButton = document.getElementById(`like-button-${goodId}`);
                const heartIcon = document.getElementById(`heart-icon-${goodId}`);
                likeButton.classList.toggle('btn-outline-danger');
                likeButton.classList.toggle('btn-danger');
                heartIcon.classList.toggle('fa-heart-o');
                heartIcon.classList.toggle('fa-heart');
                likeButton.textContent = likeButton.textContent === ' Like' ? ' Liked' : ' Like';
              })
              .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
              });
    }
  </script>
</body>
</html>