<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Price</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Add New Price</h2>
    <form th:action="@{'/price/edit/' + ${price.id}}" th:object="${price}" method="post">
        <div class="form-group">
            <label for="good_id">Good:</label>
            <select class="form-control" id="good_id" name="good_id">
                <option th:value="*{getGood_id().getId()}"  th:text=" *{getGood_id().getId()} + '(Original Good) ' + *{getGood_id().getGoodName()} + ' (Good Name), ' + *{getGood_id().getGoodBrand()} + ' (Good Brand)'"></option>
                <th:block th:each="goods : ${good}">
                    <option th:value="${goods.id}" th:text="${goods.goodName} + ' (Good Name), ' + ${goods.goodBrand} + ' (Good Brand)'"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label>Supplier Price:</label>
            <input type="number" class="form-control" th:field="*{supplier_price}" required th:value="*{getSupplier_price()}">
        </div>
        <div class="form-group">
            <label >Client Price:</label>
            <input type="number" class="form-control" th:field="*{client_price}" required th:value="*{getClient_price()}">
        </div>
        <div class="form-group">
            <label >Bought Amount:</label>
            <input type="number" class="form-control" th:field="*{bought_amount}" required th:value="*{getBought_amount()}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
